# ECLAT

- Simple version of *Apriori*

- It uses only itemset

- It doesn't create the rule association, it only creates itemset

Algorithm:

1) Set minimum suppport

2) Extract itemset with at least the minimum support

3) Sort data by support

In [1]:
import pandas as pd
import numpy as np

In [4]:
from pyECLAT import ECLAT

# Market data 1

In [2]:
market_data1 = pd.read_csv('market.csv', header=None)
market_data1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [5]:
eclat = ECLAT(data=market_data1)

In [8]:
eclat.df_bin

   manteiga  feijao  arroz  cafe  leite  pao  cerveja
0         1       0      0     0      1    1        1
1         1       0      0     1      0    1        0
2         1       0      0     1      0    1        0
3         1       0      0     1      1    1        0
4         0       0      0     0      0    0        1
5         1       0      0     0      0    0        0
6         0       0      0     0      0    1        0
7         0       1      0     0      0    0        0
8         0       1      1     0      0    0        0
9         0       0      1     0      0    0        0

In [9]:
eclat.uniq_

['manteiga', 'feijao', 'arroz', 'cafe', 'leite', 'pao', 'cerveja', nan]

In [11]:
index, support = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)
index

Combination 1 by 1

3it [00:00, 108.94it/s]

Combination 2 by 2

3it [00:00, 140.75it/s]

Combination 3 by 3

1it [00:00, 536.01it/s]

{'manteiga': [0, 1, 2, 3, 5],
 'cafe': [1, 2, 3],
 'pao': [0, 1, 2, 3, 6],
 'manteiga & cafe': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga & cafe & pao': [1, 2, 3]}

In [12]:
support

{'manteiga': 0.5,
 'cafe': 0.3,
 'pao': 0.5,
 'manteiga & cafe': 0.3,
 'manteiga & pao': 0.4,
 'cafe & pao': 0.3,
 'manteiga & cafe & pao': 0.3}